---
import Layout from "../layouts/Layout.astro";

import config from "../config.json";

import heroImg from "../assets/images/hero.jpg";
import servicepic1 from "../assets/images/servicepic1.jpg";
import watertowericon from "../assets/images/icon/water-tower.png";
import Form from "../components/Form.astro";
import ServiceCard from "../components/ServiceCard.astro";
import Image from "astro/components/Image.astro";

const services = [
  {
    iconSrc: watertowericon.src,
    title: "STANDARD TANK CLEAN",
    subtitle: "Sludge vacuum + antibacterial dose",
    features: [
      "Removal of bottom sludge and sediment using a heavy duty trash pump",
      "Minimal water loss",
      "An antibacterial dose of food grade hydrogen peroxide is added once the vacuuming has been completed.",
      "This ensures that all viruses and bacteria in the water are eliminated.",
    ],
    buttonText: "Book Now",
  },
  {
    iconSrc: watertowericon.src,
    title: "PREMIUM TANK CLEAN",
    subtitle: "Comprehensive cleaning + advanced treatment",
    features: [
      "Removal of bottom sludge and sediment using a heavy duty trash pump",
      "Minimal water loss",
      "An antibacterial dose of food grade hydrogen peroxide is added once the vacuuming has been completed. This ensures that all viruses and bacteria in the water are eliminated.",
      "The water is then filtered (approx 30,000L) through our filtration system for one hour. Cross Country uses new fresh new clean filters on each site.",
      "Finally, the interior of the tank is fogged to sterilise all bare surfaces above the water line",
    ],
    buttonText: "Book Premium Service",
  },
  {
    iconSrc: watertowericon.src,
    title: "EXECUTIVE TANK CLEAN",
    subtitle: "Comprehensive cleaning + advanced treatment",
    features: [
      "All bottom sediment is vacuumed to waste, the tank is drained, all surfaces are scrubbed and sterilised. This option requires replacement water (POA)",
    ],
    buttonText: "Book Premium Service",
  },
  {
    iconSrc: watertowericon.src,
    title: "FILTER REPLACEMENT",
    subtitle: "",
    features: [
      "We replace all common water filters on most filtration systems and advise on A+ new installations",
    ],
    buttonText: "Book Now",
  },
];

const faqData = [
  {
    question: "How much water do you use?",
    answer:
      "This depends on what we find when we access your water tank. Generally we use about 10% of your water when cleaning a standard house tank.",
  },
  {
    question: "How often should I clean my tank?",
    answer:
      "Tanks should be inspected annually. As a general rule of thumb, to maintain a healthy tank and water, a tank clean every 2-5 years is recommended.",
  },
  {
    question: "Do you clean the sides?",
    answer:
      "During our standard and premium cleaning service, we do not brush the tank side walls, however, the addition of the sanitiser solution neutralises side growth and/or bacteria.",
  },
  {
    question: "What if my water is discoloured from leaf tannins?",
    answer:
      "Removing the bottom sediment and sterilising the water will make it safe, however the colour will remain until diluted by further rains.",
  },
  {
    question: "What if my water tank has clay/dirt/ground water in suspension?",
    answer:
      "We are able to use a chemical to settle the sediment out of solution, and then vacuum the sediment to waste. (Occurs additional charges)",
  },
  {
    question: "What happens to the wastewater/sludge?",
    answer:
      "We work to discharge the sediment to your garden or lawn/paddock to minimise sediments entering waterways.",
  },
  {
    question: "How do I know what size my tank is?",
    answer:
      "Most common concrete and plastic household water tanks are between 24000 and 30000 litres.",
  },
  {
    question:
      "What regular antibacterial treatments do you recommend for water tanks?",
    answer:
      "Your operator will assist with advice. We recommend Pour & Go (available from Mitre 10) and Geosil150 for a longer lasting treatment. (available online)",
  },
  {
    question: "Where are you based?",
    answer:
      "Our operators are fully mobile across New Zealand, with a home base in Hunua, Auckland. We regularly stay close to our clients at local campgrounds and air b&b's.",
  },
  {
    question: "Do you enter the tank?",
    answer:
      "We predominantly do our standard and premium tank cleaning from outside the tank. However if your service is for an executive clean, we provide two operators to satisfy health and safety regulations, and enter the tank.",
  },
  {
    question: "How do I know if my tank needs cleaning?",
    answer:
      "We offer an inspection service. However, if you have symptoms of tummy upsets, your water smells while showering, or poor tasting water, the chances are your tank or feed piping needs some attention.",
  },
];
---

<Layout title={config.businessName}>
  <section class="h-screen max-md:h-96 relative w-full">
    <img
      src={heroImg.src}
      alt="Hero image"
      class="object-cover w-full h-full"
    />
    <div
      class="absolute inset-0 bg-black bg-opacity-40 flex flex-col justify-center items-start p-8"
    >
      <h1 class="text-white text-4xl md:text-5xl font-bold mb-4 max-w-2xl">
        IF THE WATER IS HEALTHY, THE PEOPLE WILL BE PROVIDED FOR
      </h1>
      <a href={config.bookingLink}>
        <button
          class="bg-primary text-white px-6 py-2 rounded-md hover:bg-primary-focus transition-colors"
        >
          Book Now
        </button>
      </a>
    </div>
  </section>
  <section id="services" class="py-16 pb-32">
    <div class="max-w-screen-xl mx-auto flex items-center flex-col gap-8 px-4">
      <h1
        class="font-bold text-6xl text-blue-600 col-span-2 max-md:col-span-full"
      >
        <span class="">/</span> Our Services
      </h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {services.map((service) => <ServiceCard {...service} />)}
      </div>
      <h1 class="text-3xl text-light">
        Call <a href={config.support[0].url} class="text-primary"
          >{config.support[0].name}
        </a>
      </h1>
    </div>
  </section>
  <section id="why-clean" class="py-16 bg-gray-100 text-black min-h-screen">
    <div class="max-w-screen-xl mx-auto flex flex-col gap-8 px-4">
      <h1
        class="font-bold text-6xl text-primary col-span-2 max-md:col-span-full"
      >
        WHY CLEAN YOUR TANK
      </h1>
      <h1 class="text-4xl font-bold">
        Ensure Pure, Fresh Water for Your Home and Business
      </h1>
      <p>
        Regularly cleaning your water tank is essential for maintaining a
        healthy water supply. Over time, tanks can accumulate sediment, algae,
        bacteria, and other contaminants that can affect the taste, smell, and
        safety of your water. By cleaning your tank, you ensure that every drop
        is as pure and fresh as nature intended. The <a
          class="underline text-blue-500 hover:text-blue-600"
          href="https://healthed.govt.nz/products/water-collection-tanks-and-safe-household-water"
          >Ministry of Health</a
        >
        recommends that tanks should be inspected annually and cleaned if necessary.
        Cross Country Tank Cleaning offers free inspections when in your area, or
        passing by.
      </p>
      <h1 class="text-4xl font-bold">Protect Your Health and Well-being</h1>
      <p>
        Dirty water tanks host an ideal environment for harmful bacteria and
        pathogens such as <a
          class="underline text-blue-500 hover:text-blue-600"
          href="https://healthed.govt.nz/products/campylobacter-e-coli-and-salmonella?_pos=6&_sid=f812b4523&_ss=r"
        >
          E. coli
        </a> and <a
          class="underline text-blue-500 hover:text-blue-600"
          href="https://healthed.govt.nz/products/campylobacter-e-coli-and-salmonella?_pos=6&_sid=f812b4523&_ss=r"
        >
          Giardia
        </a> to prosper. These pose serious health risks of which young children
        and older adults are at an increased risk! Regular cleaning helps prevent
        these potential dangers, ensuring your family, employees, or customers are
        consuming safe water.<br /><br /> A <a
          class="underline text-blue-500 hover:text-blue-600"
          href="https://environmentfirst.co.nz/wp-content/uploads/2019/12/Abbott_microbiological_quality_of_roof_collected_rainwater.pdf"
        >
          Study
        </a> found that at least 50% of the roof-collected rainwater samples from
        private dwellings exceeded the minimal acceptable New Zealand standards for
        contamination and 41% of the samples showed evidence of heavy faecal contamination.
        Clean water is crucial for drinking, cooking, and hygiene, making tank maintenance
        a vital part of your health regimen.
      </p>
      <div class="flex gap-2 flex-col lg:flex-row">
        <Image
          src={servicepic1}
          alt="Why clean your tank"
          class="md:max-w-sm mx-auto rounded-md"
        />
        <Image
          src={servicepic1}
          alt="Why clean your tank"
          class="md:max-w-sm mx-auto rounded-md"
        />
        <Image
          src={servicepic1}
          alt="Why clean your tank"
          class="md:max-w-sm mx-auto rounded-md"
        />
      </div>

      <h1 class="text-4xl font-bold">Improve Water Efficiency</h1>

      <p>
        A clean water tank ensures efficient water flow and usage. Sediment
        buildup can clog pipes and filters, reducing water pressure and making
        filters ineffective. By keeping your tank clean, you maintain optimal
        water pressure and filtration efficiency, ensuring your water system
        performs at its best. This proactive approach can save you money on
        repairs and replacements in the long run.
      </p>

      <h1 class="text-4xl font-bold">
        Trust the Experts at Cross Country Water Tank Cleaning Services
      </h1>

      <p>
        At Cross Country Water Tank Cleaning Services, we specialise in
        providing thorough and efficient tank cleaning solutions. Our team uses
        state-of-the-art equipment and eco-friendly practices to ensure your
        tank is spotless. With our expert services, you can enjoy the peace of
        mind that comes with knowing your water is clean and healthy. Don’t wait
        till a problem arises
      </p>

      <div class="mt-8 bg-blue-100 p-4 rounded-lg">
        <p class="text-blue-800 font-medium">
          Cross Country Tank Cleaning offers free inspections when in your area,
          or passing by.
        </p>
      </div>
      <a href={config.bookingLink}>
        <button
          class="bg-primary text-white px-6 py-2 rounded-md hover:bg-primary-focus transition-colors"
        >
          Book Now
        </button>
      </a>
    </div>
  </section>
  <section id="faq" class="py-16">
    <div class="max-w-screen-xl mx-auto flex flex-col gap-8 px-4">
      <h1
        class="font-extralight text-6xl text-primary text-center col-span-2 max-md:col-span-full"
      >
        FREQUENTLY ASKED QUESTIONS
      </h1>
      <div class="space-y-4">
        {
          faqData.map((item, index) => (
            <div
              tabindex="0"
              class="collapse collapse-plus border-base-300 bg-base-200 border"
            >
              <div class="collapse-title text-xl font-medium">
                {item.question}
              </div>
              <div class="collapse-content">
                <p>{item.answer}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
