---
import Layout from "../layouts/Layout.astro";

import config from "../config.json";

import heroImg from "../assets/images/hero.jpg";
import servicepic1 from "../assets/images/servicepic1.png";
import servicepic2 from "../assets/images/servicepic2.png";
import servicepic3 from "../assets/images/servicepic3.png";
import servicepic4 from "../assets/images/servicepic4.png";
import waterdrain from "../assets/images/waterdrain2.png";
import watertowericon from "../assets/images/icon/water.svg";
import Form from "../components/Form.astro";
import ServiceCard from "../components/ServiceCard.astro";
import Image from "astro/components/Image.astro";

import { Cloudinary } from "@cloudinary/url-gen";
import { scale } from "@cloudinary/url-gen/actions/resize";

const services = [
  {
    iconSrc: watertowericon.src,
    title: "STANDARD SERVICE",
    subtitle: "(Our Most Cost Effective)",
    features: [
      "Sediment Vacuum",
      "Minimal Water Loss",
      "Tank Water Sterilised",
      "Elimination Of Bacteria + Viruses",
    ],
    buttonText: "More Info ",
    link: "/services/standard-service"
  },
  {
    iconSrc: watertowericon.src,
    title: "PREMIUM SERVICE",
    subtitle: "(Our Most Popular)",
    features: [
      "Sediment Vacuum",
      "Minimal Water",
      "Tank Water Filtered and Sterilised On Site",
      "Advanced Tank Sterilisation With ULV Fog",
      "Elimination of Bacteria + Viruses",
    ],
    buttonText: "More Info",
     link: "/services/premium-service"
  },
  {
    iconSrc: watertowericon.src,
    title: "EXECUTIVE SERVICE",
    subtitle: "(The Good Ol’ Fashioned Way)",
    features: [
      "Sediment Vacuum during tank draining",
      "Operator enters drained tank and scrubs/ water blasts internal surfaces",
      "Tank Vacuumed Dry",
      "Tank Sterilisation With ULV Fog",
      "**Service requires replacement water ",
    ],
    buttonText: "More Info",
       link: "/services/executive-service"
  },
  {
    iconSrc: watertowericon.src,
    title: "FILTRATION AND MAINTENANCE SOLUTIONS",
    subtitle: "",
    features: [
      "Cartridge filter replacement",
      "UV annual servicing",
      "Water System Consultation/Upgrade",
      "Priority Client Scheduling",
      "Pipe Flushing + Sterilisation",
      "In Tank Groundwater Clarification",
      "Property Management Service"
    ],
    buttonText: "More Info",
    link: "/services/other-services"
  },
];

const faqData = [
  {
    question: "How much water do you use?",
    answer:
      "This depends on what we find when we access your water tank. Generally we use about 10% of your water when cleaning a standard house tank.",
  },
  {
    question: "How often should I clean my tank?",
    answer:
      "Tanks should be inspected annually. As a general rule of thumb, to maintain a healthy tank and water, a tank clean every 2-5 years is recommended.",
  },
  {
    question: "Do you clean the sides?",
    answer:
      "During our standard and premium cleaning service, we do not brush the tank side walls, however, the addition of the sanitiser solution neutralises side growth and/or bacteria.",
  },
  {
    question: "What if my water is discoloured from leaf tannins?",
    answer:
      "Removing the bottom sediment and sterilising the water will make it safe, however the colour will remain until diluted by further rains.",
  },
  {
    question: "What if my water tank has clay/dirt/ground water in suspension?",
    answer:
      "We are able to use a clarifying agent to settle the sediment out of solution, and then vacuum the sediment to waste. (Occurs additional charges)",
  },
  {
    question: "What happens to the wastewater/sludge?",
    answer:
      "We work to discharge the sediment to your garden or lawn/paddock to minimise sediments entering waterways.",
  },
  {
    question: "How do I know what size my tank is?",
    answer:
      "Most common concrete and plastic household water tanks are between 24000 and 30000 litres.",
  },
  {
    question:
      "What regular antibacterial treatments do you recommend for water tanks?",
    answer:
      "Your operator will assist with advice. We recommend Pour & Go (available from Mitre 10) and Geosil150 for a longer lasting treatment. (available online)",
  },
  {
    question: "Where are you based?",
    answer:
      "Our operators are fully mobile across New Zealand, with a home base in Hunua, Auckland. We regularly stay close to our clients at local campgrounds and air b&b's.",
  },
  {
    question: "Do you enter the tank?",
    answer:
      "We predominantly do our standard and premium tank cleaning from outside the tank. However if your service is for an executive clean, we provide two operators to satisfy health and safety regulations, and enter the tank.",
  },
  {
    question: "How do I know if my tank needs cleaning?",
    answer:
      "We offer an inspection service. However, if you have symptoms of tummy upsets, your water smells while showering, or poor tasting water, the chances are your tank or feed piping needs some attention.",
  },
];

// Create a Cloudinary instance and set your cloud name.
const cld = new Cloudinary({
  cloud: {
    cloudName: import.meta.env.CLOUDINARY_CLOUD_NAME,
  },
});

const heroVideo = cld.video("cross-country-tank-cleaning/hero");
heroVideo.resize(scale().width(1100));
const heroVideoURL = heroVideo.toURL();

const metaDescription = "Ensure clean, safe water for your home or business with Cross Country Water Tank Cleaning. We offer expert water tank cleaning, sediment removal, and filter replacement throughout New Zealand. Book a free inspection today to keep your water fresh and healthy"
---

<Layout 
title="Water Tank Cleaning Nationwide | Cross Country Water Tank Cleaning"
 description={metaDescription}>
 <section class="h-screen max-md:h-96 relative w-full">
  <video
    autoplay
    muted
    playsinline
    loop
    class="w-full h-full object-cover absolute top-0 left-0"
  >
    <source src={heroVideoURL} type="video/mp4" />
  </video>
  <div
    class="absolute inset-0 bg-black bg-opacity-40 flex flex-col justify-center items-start p-8"
  >
    <div class="relative h-44 w-full">
      <h1
        class="text-white text-4xl md:text-5xl font-bold mb-4 max-w-2xl absolute top-0 left-0"
        id="heroText"
      >
      Wai ora. Tangata ora.
      </h1>
      <h1
        class="text-white text-4xl md:text-5xl font-bold mb-4 max-w-2xl absolute top-0 left-0 opacity-0"
        id="heroTextMaori"
      >
      Healthy water. Healthy people.
      </h1>
    </div>
  </div>
</section >





  
  <section class=" text-black pb-16">
    <div class="max-w-screen-xl mx-auto flex items-center md:w-2/3 flex-col gap-8 px-4">
    
     
 <p class="mt-8">
  At Cross Country Water Tank Cleaning, we believe that access to clean, safe water should be both available and affordable for everyone. We understand just how vital clean water is for our community and the well-being of families across Aotearoa. That’s why we’re proud to offer expert water tank cleaning services nationwide, ensuring your whānau can rely on fresh, healthy water every day.

 </p>
 <p>Whether you're facing issues with water quality or it’s simply time for routine maintenance, our skilled team has the tools and expertise to handle it all. From removing sediment and sludge to sterilising your tank and water, we provide the care and attention your water system needs to keep your water fresh and contaminant-free.
</p>
<p>At Cross Country, we offer three levels of service to suit every customer, so you can choose the safest option for your family and budget. No matter which service you choose, you can rest assured that your water storage/supply is in safe hands. Don't settle for less when it comes to your family's health—let us help you maintain a clean water tank. Stay healthy, Aotearoa—Cross Country Water Tank Cleaning has you covered!</p>
<div class="mt-16">
  <script src="https://static.elfsight.com/platform/platform.js" async></script>
  <div class="elfsight-app-b8f520cf-a09b-4b7e-999d-d56857c8107e" data-elfsight-app-lazy></div>
</div>      
</div>

  </section>
  <section id="services" class="py-16 pb-32">
    <div class="max-w-screen-xl mx-auto flex items-center flex-col gap-8 px-4">
      <h1
        class="font-bold text-6xl max-md:text-4xl text-blue-600 col-span-2 max-md:col-span-full"
      >
        Our Services
      </h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {services.map((service) => <ServiceCard {...service} />)}
      </div>
      <h1 class="text-3xl text-light">
        Call <a
          target="_blank"
          href={config.support[0].url}
          class="text-primary"
          >{config.support[0].name}
        </a>
      </h1>
    </div>
  </section>
  <section id="why-clean-your-tank" class="py-16 bg-gray-100 text-black min-h-screen">
    <div class="max-w-screen-xl mx-auto px-4">
      <h1 class="font-bold text-6xl text-primary mb-8 text-center">
        WHY CLEAN YOUR TANK
      </h1>
  
      <div class="container mx-auto px-4">
        <!-- First section - image on the left, text on the right -->
        <h2 class="text-4xl font-bold mb-6">Protect Your Health and Well-being</h2>
        <div class="flex flex-col md:flex-row items-center gap-12 mb-12">
          <div class="w-full md:w-1/2">
            <Image
              src={servicepic1}
              alt="Clean water tank"
              class="w-full object-cover shadow-md rounded-lg"
            />
          </div>
          <p class="md:w-1/2 text-lg leading-relaxed mb-8 md:mb-0">
            A dirty water tank is the perfect breeding ground for harmful bacteria and pathogens such as <a
              class="underline text-blue-500 hover:text-blue-600"
              href="https://healthed.govt.nz/products/campylobacter-e-coli-and-salmonella?_pos=6&_sid=f812b4523&_ss=r"
            >
              E. coli</a
            > and <a
              class="underline text-blue-500 hover:text-blue-600"
              href="https://healthed.govt.nz/products/campylobacter-e-coli-and-salmonella?_pos=6&_sid=f812b4523&_ss=r"
            >
              Giardia,</a
            > which pose significant health risks—particularly to young children, elderly adults, and those with compromised immune systems. These contaminants can make their way into your drinking water and cause serious illnesses. Regular cleaning of your water tank is essential in preventing these dangers and ensuring that your family, employees, or customers are drinking water that is safe and healthy.
          </p>
        </div>
  
        <!-- Second section - image on the right, text on the left -->
        <h2 class="text-4xl font-bold mb-6">Ensure Pure, Fresh Water for Your Home and Business</h2>
        <div class="flex flex-col md:flex-row-reverse items-center gap-12 mb-12">
          <p class="md:w-1/2 text-lg leading-relaxed mb-8 md:mb-0">
            Regular water tank cleaning is essential for maintaining a healthy and safe water supply. While filters help remove some contaminants, they cannot fully protect your water if the tank itself is left uncleaned. Over time, tanks can accumulate sediment, algae, bacteria, and other pollutants that can compromise your water’s taste, smell, and safety. Cleaning your tank ensures that every drop remains as pure and fresh as nature intended. The 
            <a class="underline text-blue-500 hover:text-blue-600" href="https://healthed.govt.nz/products/water-collection-tanks-and-safe-household-water">
              Ministry of Health
            </a>
            recommends annual inspections of tanks, with cleanings as needed. At Cross Country Water Tank Cleaning, we offer free inspections when we're in your area to help keep your water system in top condition.
          </p>
          <div class="w-full md:w-1/2">
            <Image
              src={servicepic2}
              alt="Clean water tank"
              class="w-full h-64 object-cover shadow-md rounded-lg"
            />
          </div>
        </div>
  
        <!-- Third section - image on the left, text on the right -->
        <h2 class="text-4xl font-bold mb-6">Improve Water Efficiency</h2>
        <div class="flex flex-col md:flex-row items-center gap-12 mb-12">
          <div class="w-full md:w-1/2">
            <Image
              src={servicepic3}
              alt="Water efficiency"
              class="w-full object-cover rounded-md shadow-md"
            />
          </div>
          <p class="md:w-1/2 text-lg leading-relaxed mb-8 md:mb-0">
            A <a
              class="underline text-blue-500 hover:text-blue-600"
              href="https://environmentfirst.co.nz/wp-content/uploads/2019/12/Abbott_microbiological_quality_of_roof_collected_rainwater.pdf"
            >
              study</a
            > revealed that over 50% of roof-collected rainwater samples from private dwellings exceeded New Zealand’s minimum acceptable standards for contamination, and a staggering 41% of the samples showed signs of heavy faecal contamination. Clean water is essential not only for drinking but also for cooking, hygiene, and daily household or business needs. Proper tank maintenance plays a vital role in safeguarding your health and well-being.
          </p>
        </div>
  
        <!-- Fourth section - image on the right, text on the left -->
        <h2 class="text-4xl font-bold mb-6">
          Trust the Experts at Cross Country Water Tank Cleaning Services
        </h2>
        <div class="flex flex-col md:flex-row-reverse items-center gap-12 mb-12">
          <p class="md:w-1/2 text-lg leading-relaxed mb-8 md:mb-0">
            A clean water tank also helps maintain the efficiency of your water system. Over time, sediment buildup can clog pipes and filters, leading to reduced water pressure and making filters ineffective. A poorly maintained system may result in higher energy consumption, costly repairs, or even complete system failure. By keeping your tank clean, you preserve the optimal flow and pressure of your water supply, ensuring that your filtration system operates at peak performance. This proactive maintenance approach can save you money on future repairs and replacements while maximising water efficiency.
          </p>
          <div class="w-full md:w-1/2">
            <Image
              src={servicepic4}
              alt="Water efficiency"
              class="w-full object-cover rounded-md shadow-md"
            />
          </div>
        </div>
  
        <a href={config.bookingLink} target="_blank">
          <button class="btn btn-primary text-white px-6 py-2 rounded-md">
            Book Now
          </button>
        </a>
      </div>
    </div>
  </section>
  
  
  
  
  
  <section id="faq" class="py-16">
    <div class="max-w-screen-xl mx-auto flex flex-col gap-8 px-4">
      <h1
        class="font-extralight text-6xl text-primary text-center col-span-2 max-md:col-span-full"
      >
        FREQUENTLY ASKED QUESTIONS
      </h1>
      <div class="space-y-4">
        {
          faqData.map((item, index) => (
            <div
              tabindex="0"
              class="collapse collapse-plus border-base-300 bg-base-200 border"
            >
              <div class="collapse-title text-xl font-medium">
                {item.question}
              </div>
              <div class="collapse-content">
                <p>{item.answer}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Layout>

<script>
  import gsap from "gsap";
  import SplitType from "split-type";

  const heroTextChars = new SplitType("#heroText", { types: "lines" });
  const heroTextMaoriChars = new SplitType("#heroTextMaori", {
    types: "lines",
  });

  const heroTl = gsap.timeline({ repeat: -1 });
  heroTl
    .fromTo(
      heroTextChars.lines,
      { opacity: 0, yPercent: 100 },
      { opacity: 1, yPercent: 0, stagger: 0.1, duration: 0.5 }
    )
    .to(heroTextChars.lines, {
      yPercent: -100,
      opacity: 0,
      stagger: 0.1,
      duration: 0.5,
      delay: 5,
    })
    .to("#heroTextMaori", { opacity: 1 })
    .fromTo(
      heroTextMaoriChars.lines,
      { opacity: 0, yPercent: 100 },
      {
        yPercent: 0,
        opacity: 1,
        stagger: 0.1,
        duration: 0.5,
      }
    )
    .to(heroTextMaoriChars.lines, {
      yPercent: -100,
      opacity: 0,
      stagger: 0.1,
      duration: 0.5,
      delay: 5,
    });
</script>
